.badge {
    background-color: #ffc52f;
}

.panel-body .row .col-sm-5 h6 {
    text-decoration: line-through;
}

.panel-body .row .col-sm-5 strong {
    color: #ff4422;
}

.count-item {
    max-width: 84px;
    margin-bottom: 15px;
}

.col-lg-3 .panel-body b {
    float: right;
    font-size: 1.2em;
    color: #ff4422;
    text-align: center;
    padding: 0 auto;
}

.panel-heading > h4 {
    min-height: 50px
}

.row a {
    float: right;
    margin-right: 30px;
}

.row a:hover {
    text-decoration: none;
}