@media (min-width: 768px) {
    .col-sm-2-4 {
        float: left;
        width: 20%;
    }
}

.row .col-sm-2-4 .thumbnail {
    min-height: 220px;
}

.row .col-sm-2-4 .thumbnail strong {
    color: #ff2712;
}
