.product-thumb {
    min-height: 220px;
}

.thumbnail{
    margin-bottom: 0;
}

.thumbnail strong {
    color: #cb2d0e;
}

.old-price {
    text-decoration: line-through;
    float: right;
}

.acchome {
    display: block;
    overflow: hidden;
    padding-top: 5px;
}

.naviacc {
    display: block;
    overflow: hidden;
    padding-top: 5px;
}

.naviacc h2 {
    display: inline-block;
    font-size: 15px;
    color: #333;
    padding: 10px;
    text-transform: uppercase;
}

.acchome .naviacc a {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #388ad6;
    padding: 10px 15px;
}

a {
    text-decoration: none;
}

.naviacc a:hover {
    color: #3a3a3a;
    text-decoration: none;
}

@media (min-width: 768px) {
    .col-sm-1-5 {
        float: left;
        width: 12.5%;
    }
}

.acchome .row .thumbnail {
    min-height: 180px;
}

.acchome .row .thumbnail strong {
    color: #ff2712;
}