html, body {
    min-height: 100%;
}

html {
    position: relative;
}

.login-content {
    min-height: 100%;
    height: auto !important;
}

.nav-style {
    background-color: #fee10e;
}

.footer {
    margin-top: 200px;
    position: relative;
    bottom: 0;
    min-height: 50px;
    width: 100%;
    background-color: #cfcfcf;
}

.content{
    margin-bottom: 120px;
}

.footer p {
    padding-top: 15px;
}